body{
    background-color:#05052F;
    font-family: 'Lobster', cursive;
    color: white;
}
.common_top{margin-top: 50px;}
.custom_nav ul li a{
    color: white !important;
    font-size: 25px;
    padding: 10px 25px !important;
}
.custom_nav ul li a:hover{
    color:#E3920F !important;
}
.custom_nav button{
    background: white;
    border: 1px solid white;
    color: darkgoldenrod;
    font-size: 25px;
    padding: 8px 20px;
}
.custom_nav button:hover{
    background: transparent  ;
    border: 1px solid white;
}
.custom_tog{
    background-color: white;
    border-radius: 5px;
}
.custom_inner img{
    height: 400px;
}
.custom_car{
    background-color: goldenrod;
    height: 35px;
    width: 35px;
}
.brand_text h1{color:#E3920F; }
.brand_text hr{
     border: 2px dashed #E3920F;
     width: 300px;
}
.brand_text p{
    font-size: 21px;
    line-height: 2;
    letter-spacing: 4px;
    text-align: left;
}
.type_card{margin-top: 20px;}
.type_card img{ height: 200px; }
.custom_card h5{
    font-size: 20px;
    letter-spacing: 4px;
    color:#E3920F;
}
.custom_card p{
    font-size: 16px;
    line-height: 2;
    letter-spacing: 3px;
}
.custom_btn{
    padding: 10px 30px;
}
.custom_list a{margin-bottom: 5px;}
.plan_text{font-family: 'Montserrat', sans-serif;}
.plan_text h2{color:green; }
.plan_text hr{  
    border: 2px dashed #E3920F;
    width: 330px;
    margin-left: 0px;
    } 
.plan_text h5{color:gold; }
.plan_text a{color:darkgoldenrod; }
.sign_up{
    min-height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-image:url(../images/back.jpg);
    background-size: cover;
   
}
.back{ 
    min-height: 400px;
    background: rgba(243, 110, 56 ,.4);
}
.sign_text h1{
    color: white;
}
.sign_text hr{
     border: 2px dashed white;
     width: 300px;
}
.sign_form input{
    background-color:lightsalmon;
}
.sign_form button{
    background-color:lightsalmon;
    padding: 10px 30px;
    color: aliceblue;

}
.sign_form button:hover{
    background: transparent  ;
    border: 1px solid white;
}
.hello a{
   font-size: 20px;
}
.hello a:hover{
   color: white;
}
.blog_icon i{
    font-size: 25px;
    padding: 10px 12px;
}
.blog_icon i:hover{
   color: white;
}
.dark_blue{color: darkblue;}
.pink{color: deeppink;}
.deep_blue{color:blue;}
.red{color: red;}
.com_mar{
    margin: 10px 0px;
}
.name{
    font-size: 20px;
    letter-spacing: 2px;
}
.custom_alert{
        color: goldenrod;
}


